<h1>Sample App</h1>

<p>Hi <%= @user.name %>,</p>

<p>

Reset password:

</p>

<%= link_to "Activate", edit_password_reset_url(@user.reset_token,
                                                    email: @user.email) %>
<p>
  Or paste:
</p> 

<%= edit_password_reset_url(@user.reset_token, email: @user.email) %>

<br>
<br>

This will expire in 2 hours