<% provide(:title, 'All Posts') %>
<h1>All Posts</h1>

<ul class="posts">
  <% @microposts.each do |micropost| %>
    <li>
      <%= micropost.content %> - 
      <%= micropost.user.name %>
    </li>
  <% end %>
</ul>


